* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: inherit;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #272727;
}

/* ////////////////////////////////////////////////// */
/* ////////////////////// MAIN ///////////////////////*/
/* ////////////////////////////////////////////////// */
.main {
  flex: 1;
}

.container {
  margin: 40vh auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.4s ease-in-out;
}

.logo {
  width: 50rem;
}

.form {
  display: flex;
  justify-content: center;

  margin-top: 2rem;

  width: 40rem;

  border-radius: 10rem;

  position: relative;
}

/* https://img.freepik.com/premium-vector/set-search-boxes-ui-template-search-bar-element_186930-137.jpg?w=2000 */
.form__input {
  width: 80%;
  padding: 0.8rem 2.4rem;

  background-color: #fff;

  font-size: 2rem;

  border-radius: 10rem 0 0 10rem;
  border: none;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.4rem;

  background-color: #fff;

  font-size: 1.8rem;

  border-radius: 10rem;
  border: none;

  transition: all 0.2s ease-in-out;

  -webkit-box-shadow: 0 0 0 1.2rem rgba(39, 39, 39, 1);
  -moz-box-shadow: 0 0 0 1.2rem rgba(39, 39, 39, 1);
  box-shadow: 0 0 0 1.2rem rgba(39, 39, 39, 1);
}

.form__btn:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0 0 0 0.7rem rgba(39, 39, 39, 1);
  -moz-box-shadow: 0 0 0 0.7rem rgba(39, 39, 39, 1);
  box-shadow: 0 0 0 0.7rem rgba(39, 39, 39, 1);
}

.tile {
  margin: 4.8rem auto 0;
  padding: 1.2rem 3.6rem 2.4rem 3.6rem;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  width: 40rem;

  color: #fff;
  background-color: rgba(255, 255, 255, 0);

  border-radius: 4rem;

  animation: slidein 0.5s forwards;
}

@keyframes slidein {
  from {
    max-height: 0rem;
    transform: scale(0);
    opacity: 0;
  }
  to {
    max-height: 50rem;
    transform: scale(1);
    opacity: 1;
  }
}

.divider {
  border-top: 1px solid #fff;
}

.divider--2 {
  margin-bottom: 2.4rem;
}

.city,
.temperature {
  align-self: center;
}

.city {
  font-size: 4.2rem;
}

.temperature {
  display: flex;
  gap: 2rem;

  font-size: 6rem;
}

.temperature__icon {
  width: 9rem;
  height: 9rem;
}

.feels-like,
.humidity,
.pressure,
.wind,
.wind__dir {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

/* ////////////////////////////////////////////////// */
/* ///////////////////// FOOTER //////////////////////*/
/* ////////////////////////////////////////////////// */
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.copyright {
  font-size: 1rem;
  background-color: none;
  color: #fff;
}
